<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.stud.app4">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/rss"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppThemeWindow">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewWebsite"
            android:label="@string/new_website"
            android:theme="@style/AppThemeWindow" />
        <activity
            android:name=".AboutUs"
            android:label="@string/about_us"
            android:theme="@style/AppThemeWindow" />
        <activity
            android:name=".Surse"
            android:label="@string/surse"
            android:theme="@style/AppThemeWindow" />
        <activity
            android:name=".Stiri"
            android:label="@string/news"
            android:theme="@style/AppThemeWindow" />
        <activity
            android:name=".WebBrowserStire"
            android:theme="@style/AppThemeWindow" />
        <activity android:name=".Teste"
            android:label="TESTE"
            android:theme="@style/AppThemeWindow"></activity>
    </application>

</manifest>